# Extensions
.Rproj.user
.Rhistory
.RData
.Ruserdata
# *.html
*.md
*.Rproj
*.pdf
# Specific
LineUncertainty_cache
LineUncertainty_files
report_files
RegressionLineUncertainty_cache
RegressionLineUncertainty_files
Process-lines_files/

